/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Variables */
:root {
  --primary-color: #ffbd39;
  --secondary-color: #ffeb3b;
  --bg-color: #000000;
  --text-color: #ffffff;
  --heading-color: #333333;
  --link-color: #ff9800;
  --gray-color: #999999;
  --section-background-title-color: rgb(255, 255, 255, 0.1);
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  background-color: var(--bg-color) !important;
  font-family: "Poppins", Arial, sans-serif !important;
  font-size: 16px;
  color: var(--gray-color) !important;
}

.highlighted-text {
  color: var(--primary-color);
}

header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--bg-color);
}
main {
  /* position: absolute; */
  z-index: 0;
}

.section:not(.home) {
  padding: 6em 0em 0em;
}

/*Common Section Title Styles*/
.title-text-container {
  padding: 0em 1em;
}

.title-text-container .container {
  position: relative;
  width: 100%;
}

.title-text-background {
  color: var(--section-background-title-color);
  font-size: 5.6em;
  font-weight: 900;
  z-index: 0;
  line-height: 1.5em;
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
}

.title-text-top {
  display: block;
  width: 100%;
  color: var(--text-color);
  font-size: 3.125em;
  font-weight: 700;
  line-height: 4.6785rem;
  z-index: 100;
  margin-bottom: 0.5em;
}
.title-text-description {
  text-align: center;
}

/* Navbar Layout */
a.navbar-brand {
  font-size: 1.5em;
  font-weight: 900;
  margin-left: -10px;
}

a.nav-link {
  font-size: 1em !important;
  line-height: 1.8em !important;
  padding: 1em;
  color: var(--text-color);
}

a.nav-link.active {
  color: var(--link-color) !important;
}

div.navbar-collapse {
  justify-content: flex-end;
}

/* Welcome Styles */
.welcome {
  position: relative;
  height: 90vh;
}

.introduction-picture {
  margin-left: auto;
  margin-right: 0;
  width: 50%;
  height: 100%;
}

div.welcome-caption-container {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  width: fit-content;
  color: var(--text-color);
}

.welcome-caption h1 {
  overflow: hidden;
  border-right: 0.1em solid var(--primary-color);
  margin: 0 auto;
  white-space: nowrap;
  width: fit-content;
  margin-left: 0em;
  font-size: 3.75em !important;
  font-weight: 800;
  animation: typing 10s infinite, blink-caret 0.75s step-end infinite;
}

.welcome-caption-subtitle {
  overflow: hidden;
  border-right: 0.05em solid var(--primary-color);
  white-space: nowrap;
  margin-top: 10px;
  width: fit-content;
  font-size: 2.5em;
  animation: typing 10s infinite, blink-caret 0.75s step-end infinite;
}

/*About Styles*/
.about-container {
  display: flex;
}

.about-text-container {
  width: 50%;
}

.about-list {
  list-style-type: none;
  text-align: left;
  padding: 0em;
}

.about-list-item {
  display: flex;
  margin: 1em auto;
}

.about-list-item-label {
  color: var(--text-color);
  width: 40%;
  font-weight: 600;
}

.cv-download-caption {
  font-size: 1.25em;
  color: var(--text-color);
}

/*Resume Styles*/
.resume-text-container .container {
  width: 60%;
}
.resume-card {
  position: relative;
  padding: 3em;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

  animation: fade-in linear;
  animation-timeline: view(100vh 0vh);
}
.resume-card:hover {
  transform: scale(1.02);
}
.resume-card .fa-icon {
  color: var(--primary-color);
  font-size: 3em;
  text-align: right;
  position: absolute;
  right: 1em;
  top: 0.5em;
}
.resume-card span {
  margin: 0.5em 0em;
}
.resume-cv-download-container {
  margin-top: 2em !important;
}
.resume-cv-download {
  margin: auto;
}
.resume-card .date {
  font-size: 1.625em;
  font-weight: 900;
}
.resume-certification-name {
  font-size: 1.625em;
}

/*Services Styles*/
.services-card {
  display: block;
  background-color: var(--section-background-title-color) !important;
  color: var(--text-color);
  padding: 2em;
  margin: 1em auto !important;
  transition: transform 0.3s ease-in-out, background-color 0.5s, color 0.5s;
  cursor: pointer;

  animation: fade-in linear;
  animation-timeline: view(90vh 0vh);
}
.services-card:hover {
  background-color: var(--primary-color) !important;
  color: var(--bg-color);
  transform: scale(1.05);
}
.services-card:hover .services-icon {
  color: var(--text-color);
}
.services-card:hover .services-card-line {
  border: 1px solid var(--bg-color);
}
.services-card-icon {
  display: flex;
  justify-content: center;
}
.services-card-icon .services-icon {
  font-size: 5em;
  color: var(--primary-color);
}
.services-card-description {
  font-size: 0.8125em;
  text-align: center;
  letter-spacing: 2px;
}
.services-card-line {
  width: 3em;
  margin: auto;
  border: 1px solid var(--primary-color);
  opacity: 1;
}

/*Skills Styles*/
.skill {
  padding: 0em 1em 2em;
}
.skill-caption {
  font-size: 1.25em;
  color: var(--text-color);
  position: relative;
}
.skill-caption .percentage {
  position: absolute;
  right: 0em;
}
.skill-progress-bar {
  height: 1em !important;
}
.skill-progress-bar .progress-bar {
  background-color: var(--primary-color);
}

/*Projects Styles*/

/*Contact Styles*/
.contact-card .card {
  background-color: transparent;
  text-align: center;
  color: var(--text-color);
  padding: 1em 1em 3em !important;
  height: 100%;
}
.contact-card-icon {
  display: flex;
  background-color: var(--section-background-title-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  width: 6em;
  height: 6em;
  margin: 0em auto 2em;
}
.contact-card-icon span {
  font-size: 2em;
}
.contact-card-title {
  font-size: 1.0625em;
  font-weight: 500;
  margin-bottom: 1em;
}
.contact-card-description a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1em;
}
.contact-form-container{
  width: 80%;
  margin: auto;
}
.contact-form {
  display: flex;
  background-color: #f8f9fa;
  padding: 1em 1em 2em;
}
.contact-form .contact-input,
.contact-form .contact-textarea {
  width: 90%;
  margin: 0.5em auto;
  padding: 1em;
}
.contact-form-img {
  width: 100%;
}

/*Footer Styles*/
.footer-container{
  padding: 5em 0em;
}
.footer-info{
  margin-bottom: 2em;
}
.footer-heading{
  font-size: 1.325em;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 1em;
}
.footer-list{
  padding: 0em;
}
.footer-list-item{
  list-style-type: none;
  margin: 0.5em 0em;
  font-size: 1em;
}
.footer-list-item:hover{
  color: var(--text-color);
}
.footer-list-item-link{
  text-decoration: none;
  color: var(--gray-color);
}
.footer-list-item-link:hover{
  color: var(--text-color);
}
.footer-list-item-icon{
  margin-right: 0.5em;
}
.footer-social-links{
  margin: 2em 0em;
}
.footer-social-icon-link{
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--heading-color);
  border-radius: 50%;
  padding: 1em;
  width: 3em;
  height: 3em;
  transition: .5s;
}
.footer-social-icon-link:hover{
  color: var(--heading-color);
  background-color: var(--text-color);
}
.footer-social-icon span{
  font-size: 1.625em;
}
.footer-copyright-statement{
  text-align: center;
}
/* Buttons */
.call-to-action,
button.cv-download-btn {
  border-radius: 2.5em;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1.125em;
  border: none;
  letter-spacing: 0.1em;
}
button.cv-download-btn {
  width: fit-content;
  padding: 1.5em;
}
.resume-cv-download .cv-download-btn {
  display: block;
  padding: 2em 3em !important;
  margin: auto !important;
}
.contact-submit{
  margin: auto;
}
.colored-btn {
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding: 1.75em 1em;
  width: 8.125em;
}

.transparent-btn {
  background-color: transparent;
  color: var(--text-color);
  width: 8.125em;
  border: 1px solid var(--text-color);
  padding: 1.75em 0.5em;
}

/* Animations */
/* The typing effect */
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--primary-color);
  }
}

/*the fade-in effect*/
@keyframes fade-in{
  0%{scale: .7; opacity: 0; }
  100%{scale: 1; opacity: 1;}
}
/* Media Queries */
@media (max-width: 992px) {
  body {
    font-size: 12px !important;
  }
  a.navbar-brand {
    font-size: 2em;
  }
  .introduction-picture {
    width: 100%;
  }
  .welcome-caption h1 {
    font-size: 2.5em;
  }
  a.nav-link {
    padding: 0.5rem 1rem;
  }
  .resume-text-container .container {
    width: 70%;
  }
  .contact-form-container{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .welcome-caption h1 {
    font-size: 2.2em !important;
  }
  .about-image {
    display: none;
  }
  .about-text-container {
    width: 100%;
  }
  .resume-text-container .container {
    width: 100%;
  }
  .title-text-description {
    display: none;
  }
  div.footer-info, div.contact-card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  div.footer-social-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-social-icon{
    display: flex;
    justify-content: center;
  }

}
